# Ignore everything in the root
/*

# Un-ignore all of subtree

!build.gradle
!settings.gradle
!gradle.properties
!.gitignore

!/lau*
/lau*/*
!/lau*/src/
/lau*/src/*
!/lau*/src/build.gradle
!/lau*/src/main/
/lau*/src/main/*
!/lau*/src/main/AndroidManifest.xml
!/lau*/src/main/java/