# Ignore everything in the root
/*

# Un-ignore all of subtree
!/lau*/src/main/java
!/lau*/src/main/AndroidManifest.xml
!/lau*/src/build.gradle
!/build.gradle
!/settings.gradle
!/gradle.properties
!/.gitignore